

.logo_main{

    position: relative;
    width: 100%;
    height: auto;
    left: -60px;
}



/*seccion 1*/

section{
    margin-top: 40px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}

section h2{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 5px;
    color: white; 
}

section p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
    color:#616161;
}

section .img1{
    height: 60%;
    max-width: 100%;
    display: flex;
}

@media screen and (max-width: 900px) {
    
    .nav {
        padding: 0px;
    }
    .nav__link {
        
        font-size: 12px;
        
    }
    .nav__list{
        display: inline-block;
        padding: 2px;
    }
    .separador{
        font-size: 12px;
    }
    .cerrarSesion{
        font-size: small;
    }
}