<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - cards as radio buttons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../public/css/card.css">

</head>
<body>
<!-- partial:index.partial.html -->
  <div class="container">
    <div class="row mt-2">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <div class="col-12">
              <div class="card-deck">
                <div id="chico-card" class="card mb-4">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input id="chico" type="radio">
                      <label for="chico">Chico</label></h5>
                    <div class="imagen">
                      <img class="img-top " width="100px" height="100px" src="../public/images/icon-paqueteS.png" alt="Card image cap" sytle="">
                    </div>
                    <p class="card-text">Con dimensiones de hasta:
                      <br>Altura: 23 cm
                      <br>Ancho: 39 cm
                      <br>Profundidad: 62 cm</p>
                  </div>
                </div>
                <div id="mediano-card" class="card mb-4 active">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input id="mediano" type="radio" checked=""> <label for="mediano">Mediano</label></h5>
                    <div class="imagen">
                      <img class="img-top " width="100px" height="100px" src="../public/images/icon-paqueteM.png" alt="Card image cap" sytle="">
                    </div>
                    <p class="card-text">Con dimensiones de hasta:
                      <br>Altura: 23 cm
                      <br>Ancho: 39 cm
                      <br>Profundidad: 62 cm</p>
                  </div>
                </div>
                <div id="grande-card" class="card mb-4 ">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input id="grande" type="radio"> <label for="grande">Grande</label></h5>
                    <div class="imagen">
                      <img class="img-top " width="100px" height="100px" src="../public/images/icon-paqueteG.png" alt="Card image cap" sytle="">
                    </div>
                    <p class="card-text">Con dimensiones de hasta:
                      <br>Altura: 23 cm
                      <br>Ancho: 39 cm
                      <br>Profundidad: 62 cm</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="../public/js/card.js"></script>

</body>
</html>
